In [2]:
import pandas as pd
df = pd.DataFrame({'a': [1,1, 2, 2], 
                   'b': [0.2, 0.3, 0.4, 0.5],
                   'c': range(4)})

In [3]:
df

   a    b  c
0  1  0.2  0
1  1  0.3  1
2  2  0.4  2
3  2  0.5  3

In [4]:
df.groupby('a').mean()

      b    c
a
1  0.25  0.5
2  0.45  2.5